@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,400;8..144,500;8..144,600;8..144,700&display=swap');

body {
  font-family: 'Roboto Flex', sans-serif;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: scroll;
}

.main-container {
  margin: 50px 0;
  display: flex;
  justify-content: space-around;
  gap: 50px;
}

.main-container h2 {
  margin: 20px 0 0 0;
  font-weight: 600;
}

.main-container h3 {
  margin: 10px 0;
  font-weight: 500;
}

.main-container button {
  margin-top: 10px;
  background: none;
  border-radius: 5px;
  padding: 5px 20px;
}

.main-container button:hover {
  transition: all 0.2s;
  cursor: pointer;
  background-color: black;
  color: white;
}

.main-container textarea {
  box-sizing: border-box;
  padding: 5px;
  height: 80px;
  width: 35vw;
}

.main-container input {
  box-sizing: border-box;
  padding: 5px;
  height: 27px;
  width: 35vw;
}

.main-container p {
  margin: 0;
}

.edit-container, .preview-container {
  width: 37vw;
  border: solid black 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  padding: 20px 40px 40px;
}

.edit-work-container, .edit-education-container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.edit-work-top, .edit-edu-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

#edit-personal-header {
  margin-bottom: 10px;
}

.edit-personal-container, .edit-work, .edit-edu {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.preview-container h3 {
  font-size: 22px;
  margin-bottom: 12px;
}

.preview-personal, .preview-work-experience, .preview-education {
  width: 100%;
}

.preview-personal {
  justify-content: space-between;
  align-items: center;
  padding: 20px 0 25px;
  border-bottom: black 3px solid;
}

.preview-work-experience {
  margin-top: 10px;
}

.preview-work, .preview-personal, .preview-work-info, .preview-work-info-right, .preview-work-date {
  display: flex;
}

.preview-work {
  flex-direction: column;
  gap: 10px;
}

#preview-name {
  margin: 0;
  font-size: 32px;
}

.preview-work-info {
  justify-content: space-between;
}

.preview-work-info-right {
  gap: 5px;
}

.preview-work-date {
  gap: 2px;
}

.preview-edu, .preview-edu-date, .preview-edu-right {
  display: flex;
}

.preview-edu {
  justify-content: space-between;
}

.preview-edu-right {
  gap: 5px;
}

.preview-edu-date {
  gap: 2px;
}


